{% setcontent mypage = 'outils-d-estimation' %}

<div class="page">
    <div class="title">
        <h2>{{ (mypage.title) }} <img src="/build/omega/images/prospection/calculator.2865433c.svg" alt="calculator"></h2>
    </div>
    <div class="content">
        <div class="block white flex">
            <div class="text">
                {{ mypage.content|raw }}
            </div>
            <div>
                <img src="http://localhost:8080{{ mypage.image.path }}" alt="visuel_yanport">
            </div>
        </div>
        <div class="block transparent">
            {{ mypage.sub_content|raw }}
        </div>
    </div>
</div>
